*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container{
  margin: auto;
  margin-top: 50px;
  height: 86vh;
  width: 76vw;
  background-color: rgb(240, 233, 233);
  padding: 0px 82px;
}

.heading1{
  text-align: center;
  font-size: 45px;
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

.form{
  margin-top: 100px;
}
.form .form2{
  font-weight: bold;
  font-size: 25px;
  color:  forestgreen;
  display: flex;
}
.form .form2 input,select{
  margin-top: 30px;
}
.input-box{
  height: 50px;
  border-radius: 3px;
}
.amount input{
 width: 360px;
 font-size: 20px;
}
.from{
  margin-left: 93px;
}
.from select{
  width: 165px;
  font-size: 20px;
}
.fa-solid {
  margin-left: 90px;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  background-color:rgb(139, 241, 106);
  height: 45px;
  width: 45px;
  border-radius: 25px;
  color: forestgreen;
}
.to{
  margin-left: 90px;
}
.to select{
  width: 165px;
  font-size: 20px;
}

.but{
  margin-top: 20px;
  height: 41px;
  width: 150px;
  font-size: 27px;
  font-weight: bold;
  color:  forestgreen;
  background-color: rgb(223, 255, 202);
  border: 2px solid forestgreen;
}

.heading2{
  margin-top: 20px;
  font-size: 25px;
}

.conversion{
  margin-top: 24px;
  color: forestgreen;
  font-size: 39px;
}
.conversion2{
  display: none;
}

@media (max-width: 1024px){
  .container{
    margin-top: 81px;
    height: 76vh;
    width: 86%;
    padding: 0px 82px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .heading1{
    font-size: 35px;
    width: 649px;
  }
  
  .form{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form .form2 input,select{
    margin-top: 10px;
  }
  .input-box{
    height: 33px;
    border-radius: 3px;
  }
  .amount input{
    width: 200px;
   font-size: 20px;
  }
  .from{
    margin-left: 30px;
  }
  .from select{
    width: 150px;
  }
  .fa-solid {
    margin-left:30px;
    margin-top: 15px;
    font-size: 20px;
    height: 35px;
    width: 35px;
  }
  .to{
    margin-left: 30px;
  }
  .to select{
    width: 150px;
  }
  
  .but{
    margin-top: 30px;
  }
  
  .heading2{
    margin-top: 20px;
    width:350px;
    text-align: center;
  }
  
  .conversion{
    display: none;
  }
  .conversion2{
    margin-top: 20px;
    color: forestgreen;
    font-size: 39px;
    display: inline-block;
    width: 660px;
    margin-bottom: 20px;
    text-align: center;
  }

}
@media (max-width: 768px){
  .container{
    margin-top: 41px;
    height: 100%;
    width: 86%;
    padding: 0px 82px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .heading1{
    font-size: 25px;
    width: 449px;
  }
  
  .form{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .form .form2{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .form .form2 input,select{
    margin-top: 10px;
  }
  .input-box{
    height:50px;
    border-radius: 3px;
  }
  .amount input{
    width: 231px;
  }
  .from{
    margin-left: 0px;
  }
  .from select{
    width: 231px;
  }
  .fa-solid {
    margin-left:0px;
    font-size: 30px;
    height: 45px;
    width: 45px;
  }
  .to{
    margin-left: 0px;
  }
  .to select{
    width: 231px;
  }
  
  .but{
    margin-top: 20px;
    font-weight: bold;
  }
  
  .heading2{
    margin-top: 20px;
    width:350px;
    text-align: center;
  }
  
  .conversion{
    display: none;
  }
  .conversion2{
    margin-top: 20px;
    color: forestgreen;
    font-size: 39px;
    display: inline-block;
    width: 480px;
    margin-bottom: 20px;
    text-align: center;
  }
  
}
@media (max-width: 600px){
  .container{
    margin-top: 41px;
    height: 90vh;
    width: 86%;
    padding: 0px 82px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .heading1{
    font-size: 25px;
    width: 399px;
  }
  
  .form{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .form .form2{
    font-weight: bold;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .form .form2 input,select{
    margin-top: 10px;
  }
  .input-box{
    height: 33px;
    border-radius: 3px;
  }
  .amount input{
    width: 231px;
   font-size: 20px;
  }
  .from{
    margin-left: 0px;
  }
  .from select{
    width: 231px;
    font-size: 20px;
  }
  .fa-solid {
    margin-left:0px;
    margin-top: 15px;
    font-size: 20px;
    height: 35px;
    width: 35px;
  }
  .to{
    margin-left: 0px;
  }
  .to select{
    width: 231px;
    font-size: 20px;
  }
  
  .but{
    margin-top: 20px;
    height: 30px;
    width: 100px;
    font-size: 20px;
    font-weight: bold;
  }
  
  .heading2{
    margin-top: 20px;
    font-size: 16px;
    width:250px;
    text-align: center;
  }
  
  .conversion{
    display: none;
  }
  .conversion2{
    margin-top: 20px;
    color: forestgreen;
    font-size: 30px;
    display: inline-block;
    width: 350px;
    margin-bottom: 20px;
    text-align: center;
  }
}

@media (max-width: 425px){
  .container{
    margin-top: 21px;
    height: 100%;
    width: 86%;
    padding: 0px 82px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .heading1{
    font-size: 25px;
    width: 320px;
  }
  
  .form{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .form .form2{
    font-weight: bold;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .form .form2 input,select{
    margin-top: 10px;
  }
  .input-box{
    height: 33px;
    border-radius: 3px;
  }
  .amount input{
   width: 185px;
   font-size: 20px;
  }
  .from{
    margin-left: 0px;
  }
  .from select{
    width: 185px;
    font-size: 20px;
  }
  .fa-solid {
    margin-left:0px;
    margin-top: 15px;
    font-size: 20px;
    height: 35px;
    width: 35px;
  }
  .to{
    margin-left: 0px;
  }
  .to select{
    width: 185px;
    font-size: 20px;
  }
  
  .but{
    margin-top: 20px;
    height: 30px;
    width: 100px;
    font-size: 20px;
    font-weight: bold;
  }
  
  .heading2{
    margin-top: 20px;
    font-size: 16px;
    width:250px;
    text-align: center;
  }
  
  .conversion{
    display: none;
  }
  .conversion2{
    margin-top: 20px;
    color: forestgreen;
    font-size: 30px;
    display: inline-block;
    width: 320px;
    margin-bottom: 20px;
    text-align: center;
  }
}

@media (max-width: 375px){
  .container{
    margin-top: 21px;
    height: 100%;
    width: 86%;
    padding: 0px 82px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .heading1{
    font-size: 25px;
    width: 220px;
  }
  
  .form{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .form .form2{
    font-weight: bold;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .form .form2 input,select{
    margin-top: 10px;
  }
  .input-box{
    height: 33px;
    border-radius: 3px;
  }
  .amount input{
   width: 175px;
   font-size: 20px;
  }
  .from{
    margin-left: 0px;
  }
  .from select{
    width: 175px;
    font-size: 20px;
  }
  .fa-solid {
    margin-left:0px;
    margin-top: 15px;
    font-size: 20px;
    height: 35px;
    width: 35px;
  }
  .to{
    margin-left: 0px;
  }
  .to select{
    width: 175px;
    font-size: 20px;
  }
  
  .but{
    margin-top: 20px;
    height: 30px;
    width: 100px;
    font-size: 20px;
    font-weight: bold;
  }
  
  .heading2{
    margin-top: 20px;
    font-size: 16px;
    width:250px;
    text-align: center;
  }
  
  .conversion{
    display: none;
  }
  .conversion2{
    margin-top: 20px;
    color: forestgreen;
    font-size: 30px;
    display: inline-block;
    width: 280px;
    margin-bottom: 20px;
    text-align: center;
  }
}
@media (max-width: 320px){
  .container{
    margin-top: 21px;
    height: 100%;
    width: 86%;
    padding: 0px 82px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .heading1{
    font-size: 25px;
    width: 200px;
  }
  
  .form{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .form .form2{
    font-weight: bold;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .form .form2 input,select{
    margin-top: 10px;
  }
  
  .input-box{
    height: 33px;
    border-radius: 3px;
  }
  .amount input{
   width: 160px;
   font-size: 20px;
  }
  .from{
    margin-left: 0px;
  }
  .from select{
    width: 160px;
    font-size: 20px;
  }
  .fa-solid {
    margin-left:0px;
    margin-top: 15px;
    font-size: 20px;
    height: 35px;
    width: 35px;
  }
  .to{
    margin-left: 0px;
  }
  .to select{
    width: 160px;
    font-size: 20px;
  }
  
  .but{
    margin-top: 20px;
    height: 30px;
    width: 100px;
    font-size: 20px;
    font-weight: bold;
  }
  
  .heading2{
    margin-top: 20px;
    font-size: 16px;
    width:250px;
    text-align: center;
  }
  
  .conversion{
    display: none;
  }
  .conversion2{
    margin-top: 20px;
    text-align: center;
    color: forestgreen;
    font-size: 30px;
    display: inline-block;
    width: 250px;
    margin-bottom: 20px;
  }
}